---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Band from '../components/Band.astro';
import InfosBloc from '../components/InfosBloc.astro';
import {Image} from 'astro:assets';
import {app} from "../firebase/server";
import {getFirestore} from "firebase-admin/firestore";

import picto1 from '../images/pictos/picto_green1.svg';
import alveoles from '../images/pictos/alveoles.svg';
import team from '../images/qui-sommes-nous.png';
import band from '../images/band/band.png';

import pdf from '../../public/pdf/greenskills.pdf';

import synergieLogo from '../images/logo_support/Logo Synergie Family 1 (1).png';
import Kpi from '../components/Kpi.astro';
import EventCard from '../components/EventCard.astro';
import StepForm from '../components/StepForm.astro';
import Partners from '../components/Partners.astro';

// img events


import event10 from '../images/card_event/les-ateliers-d-accompagnement.jpg'
import event11 from '../images/card_event/recruteur.jpg'


import eventBoostLinkedin from '../images/card_event/atelier-boost-ton-linkedIn.png';
import eventRenovation from '../images/card_event/Focus-Métiers--Chef-de-projets-rénovation-énergétique.jpg';
import eventMaritime from '../images/card_event/image (9).png';
import eventRencontre from '../images/card_event/image (10).png';
import eventRebondir from '../images/card_event/rebondir.png';
import eventCollab from '../images/card_event/mieux-communiquer.png'
import eventCv from '../images/card_event/cv.png';



import pictoLight from '../images/pictos/picto_light.svg';
import BlocProgram from '../components/BlocProgram.astro';

import bag from '../images/pictos/bag.svg'
import flash from '../images/pictos/flash.svg'


const list1 = [
    '<span class=" font-finalSixExtraBold">Secteur de l’énergie verte :</span> nouveaux systèmes industriels et énergies renouvelables (éolien en mer, hydrogène vert, photovoltaïque, biogaz & biomasse...)',
    '<span class=" font-finalSixExtraBold">Économie circulaire : </span>recyclage, traitement et transformation des déchets et prolongation de la durée de vie des déchets)'
]



const list2 = [
    '<span class=" font-finalSixExtraBold">Bouches-du-Rhône :</span> avec un focus sur les bassins d’emploi de Marseille, Étang de Berre et Fos/Gardanne',
]

const listProgram = [
    'Ateliers “Éco-Découverte” par l\'expérience des métiers verts et événements rencontres et forums emploi',
    'Accompagnement personnalisé des candidats intéressés',
    'Immersions, découverte des entreprises et de leurs métiers, événements de recrutements ludiques',
]

interface Event {
    id: string,
    date: string,
    hours: string,
    image: string,
    link: string,
    place: string,
    title: string,
}

const db = getFirestore(app);
const eventsRef = db.collection("event");
const eventsSnapshot = await eventsRef.get();

const events = eventsSnapshot.docs.map((doc) => ({
    id: doc.id,
    ...doc.data(),
})) as Event[];
---

<Layout title="Green Skills - Votre partenaire emploi"
        description='Sensibilisation, découverte et orientation des demandeurs d’emploi vers les nouveaux métiers de la transition écologique.'>

    <Header title="Votre partenaire emploi"
            description="Face aux enjeux liés à la transition énergétique et aux besoins en main d'œuvre qualifiée des entreprises, <strong>Green Skills est un programme de sensibilisation, de découverte et d’orientation</strong> de demandeurs d’emploi vers les nouveaux métiers verts."
            href='#step-form' textCta='En savoir plus'/>

    <section id="who-whe-are" class="margin-block relative pb-[var(--blocks-gap)]">
        <Image src={alveoles} alt="image de l'équipe" class="absolute bottom-0 right-0 z-0"/>
        <div class="container">
            <h2 class="text-center text-black text-3xl font-finalSixBlack mb-5">Green Skills</h2>
            <h3 class="mb-[var(--blocks-gap-demi)] lg:w-9/12 lg:mx-auto font-finalSixMedium text-2xl text-center"> est
                un programme qui répond aux besoins en recrutement
                sur ces nouveaux métiers en pleine transformation.</h3>
            <div class="content space-y-8 lg:space-y-0 lg:flex lg:items-center lg:gap-14">

                <div class="lg:flex-[2_2_0%] h-[365px]">
                    <Image src={team} alt="image de l'équipe"
                           class=" drop-shadow-lg z-10 h-full w-full object-cover object-center rounded-xl"/>
                </div>

                <div class="lg:flex-[5_5_0%] lg:space-y-0 relative z-10">
                    <InfosBloc image={bag}
                               title="Les métiers verts éligibles au FTJ Green Skills" list={list1}
                    />
                    <InfosBloc image={flash}
                               title="Notre périmètre géographique" list={list2}
                    />
                </div>
            </div>

            <BlocProgram picto={pictoLight} title='Au programme...' list={listProgram}/>
        </div>
    </section>

    <section class="bg-[#F7F7F7] py-[var(--blocks-gap)]">
        <div class="container">
            <h2 class=" text-green text-3xl font-finalSixBlack mb-[var(--blocks-gap-demi)] text-center lg:text-left">Les
                chiffres clés</h2>
            <Kpi/>
        </div>
    </section>

    <section id="needs" class="py-[var(--blocks-gap)] text-center lg:text-left">
        <div class="container">
            <h2 class=" text-black text-3xl font-finalSixBlack mb-[var(--blocks-gap-demi)]">Besoin d'un emploi ou envie
                de recruter ?</h2>

            <div class="lg:flex gap-10">
                <div class="flex-1">
                    <Image src={event11} alt="recruteurs greenskills"
                           class="drop-shadow-lg h-full w-full object-cover object-center rounded-xl"/>
                </div>
                <div class="content space-y-6 mt-6 lg:mt-0 flex-[2.5_2.5_0%]">
                    <p class="font-finalSixBook text-left">👉 Demandeurs d’emploi : Contactez l’un de nos révélateurs de
                        talents pour
                        vous accompagner dans votre recherche et découvrir des opportunités dans les métiers verts en
                        pleine croissance.</p>
                    <p class="font-finalSixBook text-left">👉 Entreprises : Si vous souhaitez vous engager dans la
                        transition écologique
                        et recruter des talents, contactez Julien pour construire ensemble des solutions adaptées à vos
                        besoins.</p>
                    <p class="font-finalSixBold text-left">Nous sommes là pour connecter les talents et les entreprises
                        au service d’un avenir durable !</p>

                    <hr class="border-green">

                    <div>
                        <p class="mb-6 text-left font-finalSixBold">📨 Contactez-nous dès maintenant !</p>
                        <p class="mb-2 text-left font-finalSixBook"><span
                                class="font-finalSixBold">Contact talent</span> : Sarhaline - <a
                                class="underline text-green" href="tel:0625604375">0625604375</a> / Ledhia - <a
                                class="underline text-green" href="tel:0769164228">0769164228</a></p>
                        <p class="text-left font-finalSixBook"><span class="font-finalSixBold">Contact entreprise</span>
                            : Julien - <a class="underline text-green" href="tel:0776119949">0776119949</a> / Mélanie -
                            <a class="underline text-green" href="tel:0777382360">0777382360</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <StepForm/>

    <!--container lg:flex lg:items-center lg:gap-20 space-y-8 lg:space-y-0 pb-[var(&#45;&#45;blocks-gap)]-->
    <section id="event" class="margin-block container relative">
        <div class="cursor-pointer btn-next absolute right-0 top-[50%] bottom-[50%] translate-x-[100%]">
            <svg class="btn-navigation-slider hover:text-white hover:bg-green p-2 border-[2px] border-green rounded-full"
                 width="50px" height="50px" stroke-width="2" viewBox="0 0 24 24" fill="none"
                 xmlns="http://www.w3.org/2000/svg" color="#00bf63">
                <path d="M9 6L15 12L9 18" stroke="#00bf63" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
            </svg>
        </div>
        <div class="cursor-pointer btn-prev rotate-180 absolute left-0 top-[50%] bottom-[50%] translate-x-[-100%]">
            <svg class="btn-navigation-slider hover:text-white hover:bg-green p-2 border-[2px] border-green rounded-full"
                 width="50px" height="50px" stroke-width="2" viewBox="0 0 24 24" fill="none"
                 xmlns="http://www.w3.org/2000/svg" color="#00bf63">
                <path d="M9 6L15 12L9 18" stroke="#00bf63" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
            </svg>
        </div>
        <h2 class="text-center text-black text-3xl font-finalSixBlack">Nos événements</h2>
        <div class="swiper">
            <div class="swiper-wrapper pt-[var(--blocks-gap-demi)] pb-[var(--blocks-gap)] pr-5">
                <div class="swiper-slide">
                    <EventCard
                            link="https://docs.google.com/forms/d/e/1FAIpQLSeH_vA7sck-_j7wNfQQ90MQuSI7Je_D4Sd6p2fwfuGs1o7u0g/viewform"
                            image={event10} date="Plusieurs dates possibles" name="Les ateliers d’accompagnement"
                            place="Épopée"
                            description='Maximisez vos chances de succès sur le marché du travail grâce à nos ateliers : Rebondir après un non, Crée ton kit de candidature, Posture professionnelle en entretien, Gestion du stress, CV motivationnel & Pitch, Boost ton LinkedIn'
                            delay="300"/>
                </div>
                <div class="swiper-slide">
                    <EventCard
                            link=" https://docs.google.com/forms/d/e/1FAIpQLSeH_vA7sck-_j7wNfQQ90MQuSI7Je_D4Sd6p2fwfuGs1o7u0g/viewform"
                            image={eventBoostLinkedin} date="3 mars 2025"
                            name="Atelier Boost ton LinkedIn"
                            place=" L’Épopée"
                            description='Apprends à optimiser ton profil et ton réseau pour attirer les bonnes opportunités.'
                            delay="300"/>
                </div>
                <div class="swiper-slide">
                    <EventCard
                            link="https://docs.google.com/forms/d/e/1FAIpQLSdo2HT93Ueby7vUcKAqNKChXh6GmPQ8tLH_FDwKn9BndtG57A/viewform"
                            image={eventRenovation} date="6 mars 2025"
                            name="Focus Métiers : Chef de projets rénovation énergétique"
                            place="L’Épopée"
                            description='Découvrez ce métier d’avenir et les formations pour y accéder avec La Solive.'
                            delay="300"/>
                </div>
                <div class="swiper-slide">
                    <EventCard
                            link=" https://docs.google.com/forms/d/e/1FAIpQLSduLn2TBLCb-vXGebyq3bIqVjRHVBF3WX_WhDPRBk9fb2qM1w/viewform"
                            image={eventRebondir} date="12 mars 2025"
                            name="Savoir rebondir"
                            place="L’Épopée - de 14h à 16h"
                            description='Transformer les refus en opportunités en comprenant vos émotions et en développant des conseils pour rebondir, accepter et mieux avancer.'
                            delay="300"/>
                </div>
                <div class="swiper-slide">
                    <EventCard
                            link=" https://docs.google.com/forms/d/e/1FAIpQLSdeCuYQ4deWmOLrUEZ-Q9AoPpjXapZKJWDhCjuNUOpg9_8gvQ/viewform"
                            image={eventMaritime} date="13 mars 2025"
                            name="Rencontre Green Skills #7 : Métiers du port et de demain"
                            place="Gare maritime de la Major, Boulevard Jacques Saadé 13002 Marseille"
                            description='Découvrez les métiers du port, les opportunités d’avenir dans ce secteur stratégique et visitez le Port Center de Marseille.'
                            delay="300"/>
                </div>
                <div class="swiper-slide">
                    <EventCard
                            link="https://docs.google.com/forms/d/e/1FAIpQLSdPW-vVOMl76jEk81sy71yGsDIPQ7RApCUmbjKlCBSD9v89jQ/viewform"
                            image={eventRencontre} date="18 mars 2025"
                            name="Rencontre Inspirante #8 : De la fast fashion à la mode éthique"
                            place="Epopée"
                            description="Découvre l'upcycling et rencontre une figure inspirante de la mode durable : Marion Lopez, directrice du Studio Lausié, une école de mode écoresponsable sur Marseille - Rencontre Green Skills X Le Spot."
                            delay="300"/>
                </div>
                <div class="swiper-slide">
                    <EventCard
                            link=" https://docs.google.com/forms/d/e/1FAIpQLSduLn2TBLCb-vXGebyq3bIqVjRHVBF3WX_WhDPRBk9fb2qM1w/viewform"
                            image={eventCollab} date="21 mars 2025"
                            name="Mieux communiquer pour mieux collaborer"
                            place="L’Épopée - de 10h à 12h30"
                            description='Aborder les notions de communication et plus précisément de communication non violente pour renforcer la coopération, la compréhension mutuelle et l'efficacité au sein d'une équipe. '
                            delay="300"/>
                </div>
                <div class="swiper-slide">
                    <EventCard
                            link=" https://docs.google.com/forms/d/e/1FAIpQLSduLn2TBLCb-vXGebyq3bIqVjRHVBF3WX_WhDPRBk9fb2qM1w/viewform"
                            image={eventCv} date="25 mars 2025"
                            name="CV motivationnel et pitch"
                            place="L’Épopée - de 14h à 16h"
                            description="Découvrir un outil qui permet de mettre en valeur vos compétences douces afin d'enrichir votre présentation et comprendre comment adopter une attitude attractive en ayant un discours accrocheur."
                            delay="300"/>
                </div>

            </div>
            <div class="swiper-pagination !bottom-[5%]"></div>
        </div>
    </section>

    <Band pdf={pdf} title="Envie d\'en savoir plus ?" btnText='Télécharger la plaquette' bgImage={band}/>

    <section id="support" class="margin-block overflow-hidden">
        <div>
            <h2 class="text-center text-black text-3xl font-finalSixBlack mb-[var(--blocks-gap-demi)] container">Projet
                porté et soutenu par</h2>
            <Partners/>
        </div>
    </section>

</Layout>

<script>
    import Swiper from 'swiper';
    import {Navigation, Pagination} from 'swiper/modules';
    import 'swiper/css';
    import 'swiper/css/pagination';

    const swiper = new Swiper('.swiper', {
        // Optional parameters
        modules: [Navigation, Pagination],
        slidesPerView: 1.2,
        spaceBetween: 40,
        breakpoints: {
            768: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            1024: {
                slidesPerView: 3,
                spaceBetween: 80,
            }
        },

        // Navigation arrows
        navigation: {
            nextEl: '.btn-next',
            prevEl: '.btn-prev',
        },

        pagination: {
            el: '.swiper-pagination',
        },

    });

</script>




