---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Band from '../components/Band.astro';
import InfosBloc from '../components/InfosBloc.astro';
import { Image } from 'astro:assets';

import picto1 from '../images/pictos/picto_green1.svg';
import alveoles from '../images/pictos/alveoles.svg';
import team from '../images/qui-sommes-nous.png';
import band from '../images/band/band.png';

import pdf from '../../public/pdf/greenskills.pdf';

import synergieLogo from '../images/logo_support/Logo Synergie Family 1 (1).png';
import Kpi from '../components/Kpi.astro';
import EventCard from '../components/EventCard.astro';
import StepForm from '../components/StepForm.astro';
import Partners from '../components/Partners.astro';

// img events

import event1 from '../images/card_event/business_ble.png';
import event2 from '../images/card_event/rencontre_metiers_verts.png';
import event3 from '../images/card_event/eolien.png';
import Footer from '../components/Footer.astro';

import pictoLight from '../images/pictos/picto_light.svg';
import BlocProgram from '../components/BlocProgram.astro';


const list1 = [
	'<span class=" font-finalSixExtraBold">Secteur de l’énergie verte :</span> nouveaux systèmes industriels et énergies renouvelables (éolien en mer, hydrogène vert, photovoltaïque, biogaz & biomasse...)',
	'<span class=" font-finalSixExtraBold">Économie circulaire : </span>recyclage, traitement et transformation des déchets du bâtiment, de la mer)'
]



const list2 = [
	'<span class=" font-finalSixExtraBold">Bouches-du-Rhône :</span> avec un focus sur les bassins d’emploi de Marseille, Étang de Berre et Fos/Gardanne',
]

const listProgram = [
	'Ateliers “Découverte Métiers” dans des événements et forums emploi',
	'Accompagnement personnalisé des candidats intéressés',
	'Immersions, découverte des entreprises et de leurs métiers, événements de recrutements ludiques',
]


---

<Layout title="GreenSkills" description='meta description'>

<Header title="Votre partenaire emploi" description="Face aux enjeux liés à la transition énergétique et aux besoins en main d'œuvre qualifiée des entreprises, Green Skills est un programme de sensibilisation, de découverte et d’orientation de demandeurs d’emploi vers les nouveaux métiers verts." href='#' textCta='En savoir plus' />

<section id="who-whe-are" class="margin-block relative pb-[var(--blocks-gap)]">
	<Image src={alveoles} alt="image de l'équipe" class="absolute bottom-0 right-0 z-0" />
	<!-- <Image src={arrow} alt="image de l'équipe" class="absolute left-0 top-0 hidden lg:block" />
	<Image src={arrow2} alt="image de l'équipe" class="absolute right-0 top-0 lg:hidden" /> -->
	<div class="container">
		<h2 class="text-center text-black text-3xl font-finalSixBlack mb-5">Green Skills</h2>
		<h3 class="mb-[var(--blocks-gap-demi)] lg:w-7/12 lg:mx-auto font-finalSixMedium text-2xl text-center"> c'est le programme qui répond aux besoins en recrutement
			sur ces nouveaux métiers en pleine transformation.</h3>
		<div class="content space-y-8 lg:space-y-0 lg:flex lg:items-center lg:gap-14">

			<div class="lg:flex-[2_2_0%] h-[365px]">
				<Image src={team} alt="image de l'équipe" class=" drop-shadow-lg z-10 h-full w-full object-cover object-center rounded-xl" />
			</div>

			<div class="lg:flex-[5_5_0%] lg:space-y-0 relative z-10">
				<InfosBloc image={picto1}
							title="Les métiers verts éligibles au FTJ Green Skills" list={list1}
				/>
				<InfosBloc image={picto1}
							title="Notre périmètre géographique" list={list2}
				/>
			</div>
		</div>

		<BlocProgram picto={pictoLight} title='Au programme...' list={listProgram} />
	</div>
</section>

<section class="bg-[#F7F7F7] py-[var(--blocks-gap)]">
	<div class="container">
		<h2 class=" text-green text-3xl font-finalSixBlack mb-[var(--blocks-gap-demi)]">Les chiffres clés</h2>
		<Kpi />
	</div>
</section>

<StepForm />

<section id="event" class="margin-block">
	<h2 class="text-center text-black text-3xl font-finalSixBlack mb-[var(--blocks-gap-demi)]">Nos événements</h2>
	<div class="container lg:flex lg:items-center lg:gap-20 space-y-8 lg:space-y-0 pb-[var(--blocks-gap)]">
		<EventCard image={event1} date="06/06/2024" name="Le business est dans le blé" place="Forum entreprises" description='Forum entreprises' delay="300" /> 
		<EventCard image={event2} date="06/06/2024" name="Rencontre et découverte des métiers verts" place="L'Épopée village" description='' delay="600" /> 
		<EventCard image={event3} date="01/07/2024" name="Semaine thématique autour des métiers de l’éolien" place="L'Épopée village" description='' delay="900" /> 
	</div>
</section>

<Band pdf={pdf} title="Envie d\'en savoir plus ?" btnText='Télécharger la plaquette' bgImage={band}/>

<section id="support" class="margin-block overflow-hidden">
	<div>
		<h2 class="text-center text-black text-3xl font-finalSixBlack mb-[var(--blocks-gap-demi)]">Projet porté et soutenu par</h2>
		<Partners />
	</div>
</section>

<Footer />
	
</Layout>




