---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Band from '../components/Band.astro';
import InfosBloc from '../components/InfosBloc.astro';
import { Image } from 'astro:assets';
import { app } from "../firebase/server";
import { getFirestore } from "firebase-admin/firestore";

import picto1 from '../images/pictos/picto_green1.svg';
import alveoles from '../images/pictos/alveoles.svg';
import team from '../images/qui-sommes-nous.png';
import band from '../images/band/band.png';

import pdf from '../../public/pdf/greenskills.pdf';

import synergieLogo from '../images/logo_support/Logo Synergie Family 1 (1).png';
import Kpi from '../components/Kpi.astro';
import EventCard from '../components/EventCard.astro';
import StepForm from '../components/StepForm.astro';
import Partners from '../components/Partners.astro';

// img events

import event1 from '../images/card_event/event1.jpg'
import event2 from '../images/card_event/event2.jpg'
import event3 from '../images/card_event/event3.jpg'
import event4 from '../images/card_event/event4.jpg'
import event5 from '../images/card_event/event5.jpg'
import event6 from '../images/card_event/event6.jpg'
import event7 from '../images/card_event/event7.jpg'
import event8 from '../images/card_event/event8.jpg'


import pictoLight from '../images/pictos/picto_light.svg';
import BlocProgram from '../components/BlocProgram.astro';

import bag from '../images/pictos/bag.svg'
import flash from '../images/pictos/flash.svg'


const list1 = [
	'<span class=" font-finalSixExtraBold">Secteur de l’énergie verte :</span> nouveaux systèmes industriels et énergies renouvelables (éolien en mer, hydrogène vert, photovoltaïque, biogaz & biomasse...)',
	'<span class=" font-finalSixExtraBold">Économie circulaire : </span>recyclage, traitement et transformation des déchets et prolongation de la durée de vie des déchets)'
]



const list2 = [
	'<span class=" font-finalSixExtraBold">Bouches-du-Rhône :</span> avec un focus sur les bassins d’emploi de Marseille, Étang de Berre et Fos/Gardanne',
]

const listProgram = [
	'Ateliers “Éco-Découverte” par l\'expérience des métiers verts et événements rencontres et forums emploi',
	'Accompagnement personnalisé des candidats intéressés',
	'Immersions, découverte des entreprises et de leurs métiers, événements de recrutements ludiques',
]

interface Event {
	id: string,
	date: string,
	hours: string,
	image: string,
	link: string,
	place : string,
	title : string,
}

const db = getFirestore(app);
const eventsRef = db.collection("event");
const eventsSnapshot = await eventsRef.get();

const events = eventsSnapshot.docs.map((doc) => ({
	id: doc.id,
	...doc.data(),
})) as Event[];

---

<Layout title="Green Skills - Votre partenaire emploi" description='Sensibilisation, découverte et orientation des demandeurs d’emploi vers les nouveaux métiers de la transition écologique.'>

<Header title="Votre partenaire emploi" description="Face aux enjeux liés à la transition énergétique et aux besoins en main d'œuvre qualifiée des entreprises, <strong>Green Skills est un programme de sensibilisation, de découverte et d’orientation</strong> de demandeurs d’emploi vers les nouveaux métiers verts." href='#step-form' textCta='En savoir plus' />

<section id="who-whe-are" class="margin-block relative pb-[var(--blocks-gap)]">
	<Image src={alveoles} alt="image de l'équipe" class="absolute bottom-0 right-0 z-0" />
	<div class="container">
		<h2 class="text-center text-black text-3xl font-finalSixBlack mb-5">Green Skills</h2>
		<h3 class="mb-[var(--blocks-gap-demi)] lg:w-9/12 lg:mx-auto font-finalSixMedium text-2xl text-center"> est un programme qui répond aux besoins en recrutement
			sur ces nouveaux métiers en pleine transformation.</h3>
		<div class="content space-y-8 lg:space-y-0 lg:flex lg:items-center lg:gap-14">

			<div class="lg:flex-[2_2_0%] h-[365px]">
				<Image src={team} alt="image de l'équipe" class=" drop-shadow-lg z-10 h-full w-full object-cover object-center rounded-xl" />
			</div>

			<div class="lg:flex-[5_5_0%] lg:space-y-0 relative z-10">
				<InfosBloc image={bag}
							title="Les métiers verts éligibles au FTJ Green Skills" list={list1}
				/>
				<InfosBloc image={flash}
							title="Notre périmètre géographique" list={list2}
				/>
			</div>
		</div>

		<BlocProgram picto={pictoLight} title='Au programme...' list={listProgram} />
	</div>
</section>

<section class="bg-[#F7F7F7] py-[var(--blocks-gap)]">
	<div class="container">
		<h2 class=" text-green text-3xl font-finalSixBlack mb-[var(--blocks-gap-demi)]">Les chiffres clés</h2>
		<Kpi />
	</div>
</section>

<StepForm />

	<!--container lg:flex lg:items-center lg:gap-20 space-y-8 lg:space-y-0 pb-[var(&#45;&#45;blocks-gap)]-->
<section id="event" class="margin-block container relative">
	<div class="cursor-pointer btn-next absolute right-0 top-[50%] bottom-[50%] translate-x-[100%]"><svg class="btn-navigation-slider hover:text-white hover:bg-green p-2 border-[2px] border-green rounded-full" width="50px" height="50px" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#00bf63"><path d="M9 6L15 12L9 18" stroke="#00bf63" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></div>
	<div class="cursor-pointer btn-prev rotate-180 absolute left-0 top-[50%] bottom-[50%] translate-x-[-100%]"><svg class="btn-navigation-slider hover:text-white hover:bg-green p-2 border-[2px] border-green rounded-full" width="50px" height="50px" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#00bf63"><path d="M9 6L15 12L9 18" stroke="#00bf63" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></div>
	<h2 class="text-center text-black text-3xl font-finalSixBlack">Nos événements</h2>
	<div class="swiper">
		<div class="swiper-wrapper pt-[var(--blocks-gap-demi)] pb-[var(--blocks-gap)] pr-5">
			<div class="swiper-slide">
				<EventCard link="https://docs.google.com/forms/d/e/1FAIpQLScMl19PTpKKpGeG-E3wYEvfPM3n-0bwf9xLJ203xDAcAC5DfA/viewform" image={event1} date="07/11/2024" name="Rencontre Green Skills # 2 : L’électrolyse au service de l’énergie verte" place="Entreprise KEMONE à Fos sur Mer" description='8h30 - 12H30' delay="300" />
			</div>
			<div class="swiper-slide">
				<EventCard link="https://forms.gle/mvZ7C2AtBmwz1fFJ8" image={event2} date="13/11/2024" name="Focus Métiers : Soudure" place="Épopée" description='Structures partenaires : RDF - AFPA -  MARSEA' delay="300" />
			</div>
			<div class="swiper-slide">
				<EventCard link="https://forms.gle/AFnjaqqBTgxu8ywN9" image={event3} date="Plusieurs dates disponibles" name="Les ateliers d’accompagnement" place="Epopée" description='CV Motivationnel - Pitch & Posture en entretien - Réseautage vert Boost ton Linkedin - Gestion du stress' delay="300" />
			</div>
			<div class="swiper-slide">
				<EventCard link="#step-form" image={event4} date="14/11/2024" name="Journée départementale de l’emploi" place="Hôtel du département" description='' delay="300" />
			</div>
			<div class="swiper-slide">
				<EventCard link="https://forms.gle/jUmi3nvCdGjKSrD88" image={event5} date="du 18 au 22/11/24 et du 25 au 29/11/24" name="Les Rencontres Green Skills # 3 : FORINDUSTRIE" place="Épopée et Hors les Murs" description='9h30 - 16h30' delay="300" />
			</div>
			<div class="swiper-slide">
				<EventCard link="https://forms.gle/Q1sydbPH5mv6zta59" image={event6} date=" 2,3 et 4 décembre 2024" name="Semaine thématique # 3 : Les métiers de l’énergie renouvelables avec DALKIA (groupe EDF)" place="Épopée" description='9h30 - 16h30 - Structures partenaires : DALKIA' delay="300" />
			</div>
			<div class="swiper-slide">
				<EventCard link="https://forms.gle/qJ9AqsSH7mJcy2K17" image={event7} date="06/12/2024" name="Rencontre Green Skills # 4 – Sensibilisation à la transition écologique " place="Centre Social Romain Rolland" description='Structures partenaires :  RDF' delay="300" />
			</div>
			<div class="swiper-slide">
				<EventCard link="https://forms.gle/kw6EFqVnitur8niW9" image={event8} date="12/12/2024" name="Rencontre Green Skills # 5 : L’économie circulaire" place="Épopée" description='9h30 - 16h30' delay="300" />
			</div>


		</div>
	</div>
</section>

<Band pdf={pdf} title="Envie d\'en savoir plus ?" btnText='Télécharger la plaquette' bgImage={band}/>

<section id="support" class="margin-block overflow-hidden">
	<div>
		<h2 class="text-center text-black text-3xl font-finalSixBlack mb-[var(--blocks-gap-demi)] container">Projet porté et soutenu par</h2>
		<Partners />
	</div>
</section>
	
</Layout>

<script>
	import Swiper from 'swiper';
	import { Navigation } from 'swiper/modules';
	import 'swiper/css';

	const swiper = new Swiper('.swiper', {
		// Optional parameters
		modules: [Navigation],
		slidesPerView : 1.2,
		spaceBetween: 40,
		breakpoints : {
			768 : {
				slidesPerView : 2,
			},
			1024 : {
				slidesPerView : 3,
				spaceBetween: 80,
			}
		},

		// Navigation arrows
		navigation: {
			nextEl: '.btn-next',
			prevEl: '.btn-prev',
		},

	});

</script>




