---
import { Image } from 'astro:assets';

interface Props {
	image: ImageMetadata;
	date: string;
	name: string;
    description: string;
    place: string;
    delay: string;
}

const { image, date, name, description, place, delay } = Astro.props;

---

<a class="block flex-1" href="#step-form"  data-aos="fade-up" data-aos-delay={delay} onclick="lenis.scrollTo('#step-form')">
    <div class="flex-1 shadow-lg rounded-xl transition-all hover:-translate-y-4">
        <div class="h-[200px] lg:h-[200px] md:h-[400px]">
            <Image src={image} alt="image évenement green skills" class="w-full h-full object-cover object-center rounded-t-xl" />
        </div>
        <div class="p-5 flex flex-col gap-2">
            <div class="bg-green text-white p-2 w-fit rounded-lg font-finalSixMedium">
                {date}
            </div>
            <h4 class="font-finalSixHeavy text-2xl">{name}</h4>
            <p class="text-md">{description}</p>
            <p class=" text-green">📍 {place} </p>
        </div>

    </div>
</a>

<script>
 	// @ts-ignore
	import AOS from "aos"; 

    document.addEventListener('astro:afterload', () => {
      AOS.refresh();
    });
</script>