---
import { Image } from "astro:assets";

import logoGreenSkills from '../images/logos/logo_greenskills_blanc.svg';
import alveoles from '../images/pictos/alveoles_footer.svg';
import website from '../images/pictos/website.svg';
import insta from '../images/pictos/insta.svg';
import facebook from '../images/pictos/facebook.svg';
import linkedin from '../images/pictos/linkedin.svg';

let actuallyYear = new Date().getFullYear();
---

<footer class="bg-green relative pt-[var(--blocks-gap)]">

    <div class="container">
        <Image src={alveoles} alt="greenskills synergie family" class="absolute right-0 top-0"/>
        <div class="mb-6">
            <Image src={logoGreenSkills} alt="logo greenskills" width="185" height="68"/>
        </div>

        <div class="lg:flex items-center lg:justify-between">
            <div>
                <h4 class="mb-4 font-finalSixExtraBold text-white text-xl">La Newsletter</h4>
                <div class="flex items-center mb-4">
                    <!-- TODO faire une requete ajax plutot -->
                    <form action="/api/newsletter" class="flex items-center mb-4" id="newsletter-form" method="POST">
                        <label class="hidden" for="email">La newsletter :</label>
                        <div>
                            <input placeholder="Votre email" type="email" name="email" id="newsletter" class="bg-[#F3F3F3] text-[#9E9E9E] font-finalSixMedium outline-green outline-2 py-3 px-7 rounded-l-xl w-full">
                        </div>
                        <button class="font-finalSixMedium bg-black text-white py-3 px-7 rounded-r-xl"> Je m'inscris </button>
                    </form>
                </div>
            </div>
            <div class="mb-[var(--blocks-gap)] lg:mb-0">
                <ul class="flex items-center gap-7">
                    <li class="hover:-translate-y-1 transition-all"><a href="https://synergiefamily.com/"><Image width="25" height="25" src={website} alt="picto site web synergie family" /></a></li>
                    <li class="hover:-translate-y-1 transition-all"><a href="https://www.instagram.com/synergiefamily/"><Image width="25" height="25" src={insta} alt="picto instagram synergie family" /></a></li>
                    <li class="hover:-translate-y-1 transition-all"><a href="https://www.facebook.com/synergiefamily/?locale=fr_FR"><Image width="25" height="25" src={facebook} alt="picto facebook synergie family" /></a></li>
                    <li class="hover:-translate-y-1 transition-all"><a href="https://fr.linkedin.com/company/synergie-family"><Image width="25" height="25" src={linkedin} alt="picto linkedin synergie family" /></a></li>
                </ul>
            </div>
        </div>

        <div class="p-6">
            <div class="text-center text-white font-finalSixBold text-lg">©{actuallyYear} - GreenSkills</div>
            <div class="text-center font-finalSixBook text-sm underline text-white"><a href="#"> Mentions légales</a></div>
        </div>

    </div>
</footer>

<script>
    import { Notify } from 'notiflix/build/notiflix-notify-aio';

    Notify.init({
        position: 'left-bottom',
        success: {
        background: '#000000',
        textColor: '#fff',
        notiflixIconColor: '#fff'
        },
    });

    const form = document.querySelector('#newsletter-form');
    const inputNews = document.querySelector('#newsletter');

    form?.addEventListener("submit" , (e) => {

        e.preventDefault();

        let data = {
            //@ts-ignore
            email : inputNews?.value,
        }

        let promise = fetch('/api/newsletter', {
            method: "POST", 
            headers: {
            "Content-Type": "text/plain;charset=UTF-8" 
            },
            body: JSON.stringify(data), 
            mode: "cors", 
            credentials: "same-origin", 
            cache: "default", 
        })
        .then((response) => {
            return response.json();
        })
        .then((data) => {
            Notify.success(data.message);
            //@ts-ignore
            if (inputNews) {
                //@ts-ignore
                inputNews.value = '';
            }
        })
    })
    

</script>